## 用于 vivado 应用程序的 .gitignore 文件
## 根据一般的工程规范，HDL 项目文件夹应当按如下命名规则：
## 
## doc 用于放置设计说明、系统框图、设计思路等文件
## ip 用于放置 ip 核文件
## prj/par 用于工程创建的路径
## rtl/src 用于存放源文件
## sim/tb 用于存放仿真文件
## vivado 用于存放所有由 vivado 程序创建的文件（如果有，上述第 2,3,4,5 将自动由程序存入）
## 
## 根目录不需要的文件
*.jou
*.log
*.zip
*.xml
*.h5
*.weights

## 隐藏文件夹
**/.Xil
**/.jobs
/project.old
/document/pic/
/dataset/*
!/dataset/process.py
!/dataset/categary.txt
!/dataset/train_main.txt
!/dataset/train_raw.txt